<div class="shopping-cart" style="display: block;">
    <div class="shopping-cart-header">
      <i class="fa fa-shopping-cart cart-icon"></i><span class="badge">3</span>
      <div class="shopping-cart-total">
        <span class="lighter-text">Total:</span>
        <span class="main-color-text">${{cart_total}}</span>
      </div>
    </div>

    <ul class="shopping-cart-items">
		<script id="cart-template" type="x-handlebars-template">​
			{{#each this}}
				  <li class="clearfix" data-index="{{id}}">
					<img src="{{image_link}}" alt="item1" />
					<span class="item-name">{{description}}</span>
					<span class="item-price">${{price}}</span>
					<span class="item-quantity">Quantity: {{qty}}</span>
				  </li>
			 {{/each}}
		</script>
    </ul>

    <a href="#" class="button" id="btnCheckout">Checkout</a>
	
	<a href="#" class="button emptycart" id="btnEmptyCart">Empty Cart</a>
  </div>